* {
    --lumina-border-radius: 15px;
    --circular-border-radius: 50px;
    --browser-border-width: 2px;

    --lumina-browser-border-color: #222222;
    --lumina-accent-color-light: #ff9090;
    --lumina-accent-color: #ff5252;
    --lumina-accent-color-dark: #be2c2c;
    --lumina-primary-color: #0F0F0F;
    --lumina-secondary-color: #202020;
    --lumina-tertiary-color: #303030;
}