* {
    --lumina-border-radius: 15px;
    --lumina-circular-border-radius: 50px;
    --browser-border-width: 3px;

    --lumina-accent-text-color: #f0f0f0;
    --lumina-accent-color-light: #fd4851;
    --lumina-accent-color: #ff2424;
    --lumina-accent-color-dark: #bb0d2a;

    --lumina-browser-border-color: #222222;

    --lumina-bg-primary: #0F0F0F;
    --lumina-bg-secondary: #202020;
    --lumina-bg-tertiary: #303030;

    --lumina-font: #ffffff;
    --lumina-font-dark: #bebebe;
}
