@import url(./general.css);

#unified-extensions-button {
    list-style-image: url(./icons/extensions.svg) !important;
}

#back-button {
    list-style-image: url(./icons/back.svg) !important;
}

#forward-button {
    list-style-image: url(./icons/forward.svg) !important;
}

toolbarbutton[data-extensionid="{3c078156-979c-498b-8990-85f7987dd929}"] image {
    filter: brightness(150%) !important;
}