@import url(./general.css);

/* Remove the border around the navbar */
#navigator-toolbox {
    border: none !important;
}

/* Color of urlbar when it is closed */
#urlbar-background {
    background-color: var(--lumina-primary-color) !important;
}

/* Color of urlbar when it is closed and hovered */
#urlbar:not([breakout][breakout-extend][breakout-extend-animate]) .urlbar-input-container:hover {
    background-color: var(--lumina-secondary-color) !important;
}

/* Color of urlbar when it is open */
#urlbar[breakout][breakout-extend][breakout-extend-animate] > #urlbar-background {
    background-color: var(--lumina-tertiary-color) !important;
    border-radius: var(--lumina-border-radius) !important;
}