@import url(./general.css);

#navigator-toolbox {
    border: none !important;
}

* {
    /* navbar colors*/
    --toolbar-bgcolor: var(--lumina-primary-color) !important;
    ---toolbar-field-background-color: var(--lumina-tertiary-color) !important;
    --toolbarbutton-border-radius: var(--lumina-border-radius) !important;
    --toolbar-field-focus-border-color: var(--lumina-tertiary-color) !important;

}

/* urlbar closed */
#urlbar-background {
    background-color: var(--lumina-primary-color) !important;
}

#urlbar:not([breakout][breakout-extend][breakout-extend-animate]) .urlbar-input-container:hover {
    background-color: var(--lumina-secondary-color) !important;
}

/* urlbar opened */
#urlbar[breakout][breakout-extend][breakout-extend-animate] > #urlbar-background {
    background-color: var(--lumina-tertiary-color) !important;
    border-radius: var(--lumina-border-radius) !important;
}