@import url(./general.css);

* {
    /* For the menus */
    --arrowpanel-border-radius: var(--lumina-border-radius) !important;
    --arrowpanel-menuitem-border-radius: var(--lumina-border-radius) !important;

    /* For the right click popup */
    --panel-border-radius: var(--lumina-border-radius) !important;
}