@import url(./general.css);

/* remove sidebar header */
#sidebar-header {
    display: none !important;
}

/* change sidebar splitter to look like it is a part of the sidebar */
#sidebar-splitter {
    border: none !important;
    background-color: var(--lumina-primary-color) !important;
}