/* Add a border to the browser */
/* The high specificity is needed to make sure that only the main browser gets the border */
#tabbrowser-tabbox browser[primary="true"] {
    border-radius: var(--lumina-radius) 0 0 0 !important;
    border-top: solid var(--lumina-browser-border-color) var(--lumina-browser-border-width) !important;
    border-left: solid var(--lumina-browser-border-color) var(--lumina-browser-border-width) !important;
    /* To make sure that no element on the page displays over the border*/
    clip-path: xywh(0 0 100% 100% round 1px);
}

/* Remove left border and rounding if the sidebar is hidden */
#sidebar-box[hidden="true"] ~ #tabbrowser-tabbox browser[primary="true"] {
    border-left: none !important;
    border-radius: 0 !important;
}

/* Set the background color of the browser so that the color peeking out of the corner is the proper color */
.browserStack {
    background-color: var(--lumina-bg-0) !important;
}