:root {
    --dark-1000: #111111;
    --dark-900:  #222222;
    --dark-800:  #333333;

    --grey-700:  #555555;
    --grey-600:  #666666;
    --grey-500:  #777777;

    --light-400: #999999;
    --light-300: #aaaaaa;
    --light-200: #bbbbbb;

    --darkest: var(--ctp-mocha-crust);
    --darker:  var(--ctp-mocha-mantle);
    --dark:    var(--ctp-mocha-base);
    
    --greyest: var(--ctp-mocha-surface0);
    --greyer:  var(--ctp-mocha-surface1);
    --grey:    var(--ctp-mocha-surface2);

}