#main-window {
	--button-bgcolor: rgb(37, 196, 151);
	--button-hover-bgcolor: rgb(96, 230, 59);
	--button-active-bgcolor: rgb(70, 198, 44);
	--button-primary-bgcolor: rgb(0, 221, 255);
	--button-primary-hover-bgcolor: rgb(128, 235, 255);
	--button-primary-active-bgcolor: rgb(170, 242, 255);
	--button-primary-color: rgb(43, 193, 102);
	--input-bgcolor: rgb(46, 30, 227);
	--input-color: rgb(251, 251, 254);
	--input-border-color: rgb(143, 143, 157);
	--autocomplete-popup-separator-color: rgb(82, 82, 94);
	--panel-banner-item-update-supported-bgcolor: rgb(84, 255, 189);
	--panel-banner-item-info-icon-bgcolor: rgb(128, 235, 255);
	--tab-icon-overlay-stroke: rgb(66, 65, 77);
	--tab-icon-overlay-fill: rgb(251, 251, 254);
	--panel-item-hover-bgcolor: color-mix(in srgb, currentColor 9%, transparent);
	--arrowpanel-dimmed-further: color-mix(in srgb, currentColor 14%, transparent);
	--panel-item-active-bgcolor: color-mix(in srgb, currentColor 25%, transparent);
	--urlbar-icon-fill-opacity: 1;
	--panel-separator-zap-gradient: linear-gradient(90deg, #9059FF 0%, #FF4AA2 52.08%, #FFBD4F 100%);
	--lwt-accent-color: rgb(28, 27, 34);
	--lwt-text-color: rgba(251, 251, 254);
	--arrowpanel-background: rgb(66, 65, 77);
	--arrowpanel-color: rgb(251, 251, 254);
	--arrowpanel-border-color: rgb(82, 82, 94);
	--toolbar-field-background-color: rgb(28, 27, 34);
	--toolbar-field-color: rgb(251, 251, 254);
	--toolbar-field-border-color: rgba(0, 0, 0, 0);
	--toolbar-field-focus-background-color: rgba(66, 65, 77, 1);
	--toolbar-field-focus-color: rgb(251, 251, 254);
	--lwt-tab-text: rgb(251, 251, 254);
	--toolbar-bgcolor: rgb(43, 42, 51);
	--toolbar-color: rgb(251, 251, 254);
	--chrome-content-separator-color: rgb(12, 12, 13);
	--toolbarbutton-icon-fill: rgb(251, 251, 254);
	--lwt-selected-tab-background-color: rgb(66, 65, 77);
	--autocomplete-popup-highlight-background: rgb(43, 42, 51);
	--tabpanel-background-color: rgb(43, 42, 51);
	--avatar-image-url: url("https://firefoxusercontent.com/d6db197e4e2e535019a6c16c77f230cf");
}