@-moz-document url("about:newtab") {  
    html {
        --newtab-background-color: var(--dark-900) !important;
        --newtab-background-color-secondary: var(--dark-900) !important;
        --newtab-element-hover-color: var(--dark-800) !important;
    }

    body {
        background-image: url("./res/aman-pal-1c2iHG5_MgE-unsplash.jpg") !important;
        background-size: cover !important;
    }

    .search-handoff-button {
        border-radius: 3rem !important;
    }

    /* tewtab transparent icons */
    .top-site-outer .top-site-icon {
        background-color: transparent !important;
    }

    .top-site-outer .tile {
        background-color: transparent !important;
        box-shadow: none !important;
        padding-top: 0px !important;
    }

    .top-site-outer .title {
        font-weight: 600 !important;
        font-size: 0.8rem !important;
    }
}