@-moz-document url("about:newtab") {
    html {
        --newtab-background-color-secondary: #212121 !important;
    }
    
    .tile {
        --newtab-background-color-secondary: #00000000 !important;
        box-shadow: none !important;
    }

    .search-wrapper .search-handoff-button {
        border-radius: 5rem !important;
      }

    body {
        background-image: url("./res/glenn-carstens-peters-IMRuLuNnFw4-unsplash.jpg") !important;
        background-size: cover !important;
        background-blend-mode: soft-light;
    }
}