/* userContent */
/* Defines the styles of various "about:*" pages */

@import "./colors.css";

@-moz-document url("about:newtab") {
    html {
        --newtab-background-color-secondary: var(--lumina-bg-color-secondary) !important;
    }
    
    .tile {
        --newtab-background-color-secondary: transparent !important;
        box-shadow: none !important;
    }

    .search-wrapper .search-handoff-button {
        border-radius: 5rem !important;
    }

    .top-site-outer .context-menu-button {
        top: 0 !important;
        background-color: transparent !important;
    }

    .top-site-outer .context-menu-button:hover {
        background-color: var(--newtab-button-hover-background) !important;
    }

    body {
        background-image: url("./res/glenn-carstens-peters-IMRuLuNnFw4-unsplash.jpg") !important;
        background-size: cover !important;
        background-blend-mode: soft-light;
    }
}

@-moz-document url-prefix("about:") {
    :root {
        --in-content-page-background: var(--lumina-bg-color-primary) !important;
        --in-content-box-background: var(--lumina-bg-color-secondary) !important;
        --in-content-table-background: var(--lumina-bg-color-secondary) !important;
        --in-content-primary-button-background: var(--lumina-accent-color) !important;
        --color-accent-primary: var(--lumina-accent-color) !important
    }
}