@import "./colors.css";
@import "./newtab.css";

:root {
    /* TST bg */
    --browser-background: var(--dark-1000) !important;

    /* tabs */
    --browser-selected-tab-bg: var(--dark-800) !important;
}

@-moz-document url-prefix("about:") {
    html {
        --in-content-page-background: var(--dark-900) !important;
    }
}