@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Index [ctrl+f to find a section]

baseline modifications
to return the title bar buttons
adjust nav bar margin
total button size
(optional) flip button order
when in fullscreen mode
macos layout

/*-------------------------------------------------------------------------------------*/

/* baseline modifications */

#navigator-toolbox {
  background: var(--toolbar-bgcolor) !important;
}

#TabsToolbar { display: none !important; }

#titlebar { display: initial !important; }

#titlebar {
    order: 2;
    -moz-appearance: none !important;
    --tabs-navbar-shadow-size: 0px;
}

#navigator-toolbox > div{ display: contents }

.global-notificationbox, #tab-notification-deck{order: 2;}

#TabsToolbar .titlebar-spacer{ display: none; }

#navigator-toolbox::after{ display: none !important; }

toolbox#navigator-toolbox > toolbar#nav-bar.browser-toolbar{ animation: none; }

#navigator-toolbox:hover #TabsToolbar{ animation: slidein ease-out 48ms 1; }

#navigator-toolbox:not(:-moz-lwtheme){ background-color: -moz-dialog; }


/*--------------------------------------------------------------------------------------*/

/* to return the title bar buttons */

:root[tabsintitlebar] .titlebar-buttonbox{
    position: fixed !important;
    display: flex !important;
    z-index: 2 !important;
    top: 4.2px !important;
    right: 2px !important; /* or use 'left' to simulate macos positioning */
}

/* to simulate toolbar buttons size and positioning, while keeping the window controls to the far end of the bar */

/* adjust nav bar margin */
#nav-bar {
    margin-right: 98px; /* margin-left if you have it on left side*/
} 

/* 30px total button size to match toolbar buttons. */
@media (-moz-platform: windows) {
    .titlebar-buttonbox .titlebar-button {
        padding: 11px 11px !important;
        border-radius: 5px !important;
    }
}

/* (optional) flip button order
.titlebar-buttonbox-container{ direction: rtl; } */

/* when in fullscreen mode, and the navigation bar isnt hovered, workaround for fixed title bar buttons */

:root[inFullscreen="true"] #navigator-toolbox:not(:hover) .titlebar-buttonbox {
    display: none !important;
}


/*--------------------------------------------------------------------------------------*/

/* macos layout */

@media (-moz-os-version: macos), (-moz-platform: macos) {
    #nav-bar {
        margin-left: 84px !important;
        margin-right: 0px !important;
    }    
    
    :root[tabsintitlebar] .titlebar-buttonbox {
        top: 12px !important;
        right: unset !important;
        left: 3px !important;
    }
    toolbar {
        min-height: 0px !important;
    }
}
