@import url(./../general.css);

@-moz-document url("about:home"), url("about:newtab") {

    body {
        /* Set the newtab background image */
        background-image: url(../../wallpapers/francesco-ungaro-r4WYSLo13Bs-unsplash.jpg) !important;
    }

    /* Round the borders of the searchbar on the newtab */
    .search-handoff-button {
        border-radius: var(--lumina-circular-border-radius) !important;
    }

    /* Remove the background of the tiles in the newtab */
    .top-site-outer .top-site-inner,
    .top-site-outer .tile,
    .top-site-outer .top-site-icon,
    .top-site-outer .context-menu-button {
        background-color: transparent !important;
        box-shadow: none !important;
    }

    /* Set the button on the tile to the top */
    .top-site-outer .context-menu-button {
        top: 0 !important;
    }

    /* Change the color of the button on the tile on hover */
    .top-site-outer .context-menu-button:hover {
        background-color: var(--lumina-bg-tertiary) !important;
    }

    /* Remove excess padding on the tiles */
    .top-site-outer .top-site-inner > a {
        padding: 0 !important;
    }

}